body{
    display: flex;
    height: 100hv;
    justify-content: left;
    align-items: center;
    padding: 10px;
    background-image: url("image.jpg");
    opacity: 0.8;

    background-attachment: fixed;
    background-size: 100% 100%;
    
}
.container{
    max-width: 700px;
    width: 100% ;

    margin : 25px 30px 25px 30px ; 
    padding: 25px 30px 25px 30px;
    border-radius: 5px;
    background-color: #070c10b2;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    color: rgb(233, 224, 224);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serifz;
    font-style: italic;
    text-decoration: solid;
    text-align: center;
    justify-content: center;
}
h1{
    col
}
.container input{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1x solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

table {
    max-width: 700px;
    width: 100%;
    background: #fff;
    padding: 25px 30px;
    border-radius: 5px;
    color: #74c2d8;
    }

    th {
    font-family: monospace;
    
    padding: 5px;
    background-color: #fff;
    }
    td {
    font-family: sans-serif;
   
    padding: 5px;
    text-align: center;
    background-color: #fff;
    }
    caption {
    font-family: sans-serif;
    }
.container button{
    height: 100%;
    width: 100%;
    outline: none;
    color: #74c2d8 ;
    align-items: center;
    border: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    letter-spacing: 1px;
    background: #070c10b4; 
    margin: 3px;
   
}
